.button-action {
    font-size: 1.8rem;
    font-weight: 400;
    height: 3.8rem;
    width: 100%;
    color: var(--main-color-scheme);
    background-color: var(--button-color-scheme);
    letter-spacing: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.button-action:focus {
    outline: none;
}
.button-action:active {
    transform: translateY(1px);
}
.button-action:disabled {
    cursor: not-allowed;
    color: #FFFFFF;
    background-color: var(--border-color-soft);
}

/* Delete button with trash icon */
.button-delete {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 100%;
    padding: 0;
}
.button-delete:focus {
    outline: none;
}
.button-delete:active {
    transform: translateY(1px);
}

/* CSS for Button with tooltip for copy to clipboard */
.button-copy {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
}
.button-copy:before {
    content: '';
    display: none;
    position: absolute;
    z-index: 9998;
    top: 100%;
    left: 2px;

    /* arrow above tooltip */
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #009F86;
}
.button-copy:after {
    content: 'Copy UUID';
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: -4rem;
    z-index: 9999;

    /* tooltip content */
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 3rem;
    text-align: center;
    color: #FFFFFF;
    background: #009F86;
    border-radius: 3px;
}
.button-copy:hover:before {
    display: block;
}
.button-copy:hover:after {
    display: block;
}
.button-copy:focus {
    outline: none;
}
.button-copy:focus:after {
    content: 'Copied!'
}
.button-copy:active:after {
    content: 'Copied!'
}