.details {
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 30%;
    padding: 0 1.5rem;
    margin: 1rem 0;
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details__loading {
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: #A9A9A9;
}

.details h3 {
    font-size: 3rem;
    font-weight: 570;
    line-height: 3.5rem;
    margin: 0 0 2rem 0;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.details__title_text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.details__icon {
    position: relative;
    top: 7px;
    padding-left: 5px;
}

.details h4 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

.details__uuid {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: grey;
}

.details__main-box {
    display: flex;
    justify-content: space-between;
    height: 30%;
    margin-bottom: 1rem;
}

.details__description-box {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.details__description-box h4 {
    font-size: 1.3rem;
    font-weight: 600;
}

.details__description-box span {
    margin-bottom: .5rem;
}

.description {
    overflow-y: auto;
    overflow-x: hidden;
}

.details__map-box {
    flex: 0.8;
    display: flex;
    justify-content: flex-end;

    height: 100%;
    width: 100%;
}

.leaflet-container {
    width: 95%;
}

.details__metadata {
    height: 45%;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    min-height: 3rem;
    background-color: #fff;
}

.column {
    border: thin solid #ECECEC;

    flex: 1;
    text-align: left;
    padding: .6rem;
    margin: 0;
    overflow: hidden;

    width: 50%;
}

.column-2 {
    font-weight: bold;
}

.details__get-capabilities {
    margin-bottom: 1rem;
}

.details__url-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Copy to clipboard icon */
.details__url-field i {
    cursor: pointer;
    color: grey;
    font-size: 1.6rem;
}

.details__url-field i:active {
    transform: translateY(2px);
}

.details__get-capabilities-url {
    width: 84%;
    height: 2.5rem;
    padding: .4rem;
    margin: .4rem 0;
    border-radius: .2rem;
    border: 1px solid lightgrey;
    color: grey;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.details__get-capabilities-url:focus {
    outline: none;
}

.details__button-copy {
    cursor: pointer;
    width: 15%;
    margin: 0;
    padding: 0.5rem;
    color: #fff;
    background-color: #008080;
    border: none;
    border-radius: .2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: .1rem .1rem .3rem rgba(12, 12, 12, 0.5);
}

.details__button-copy:focus {
    outline: none;
}

.details__button-copy:active {
    transform: translateY(2px);
}

.details__button-container {
    max-height: 10%;
    margin-bottom: 1rem;
}

.details__button {
    font-size: 1.4rem;
    line-height: 1.6rem;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: .2rem;
    border-bottom: 1px solid grey;
    padding: .6rem .8rem;
    margin-right: .2rem;
    cursor: pointer;
    box-shadow: .1rem .2rem .4rem rgba(12, 12, 12, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.details__button-danger {
    background-color: #ff7070;
}

.details__button:last-child {
    margin-right: 0;
}

.details__button:focus {
    outline: none;
}

.details__button:active {
    transform: translateY(1px)
}

.details__buttons {
    display: flex;
    justify-content: space-between;
}

/*FOR WMS LAYER*/
.details__wms-info {
    overflow-wrap: break-word;
    height: 40%;
}
