/*POPUP WINDOW FOR THE EXPORT SCREEN*/
.raster-export {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    transition: all .3s;
}

/* CONTENTS OF EXPORT SCREEN */
.export {
    width: 96%;
    min-height: 96%;
    color: #333;
    border: 1px solid #BEBEBE;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 2rem 2rem rgba(12, 12, 12, 0.4);
    opacity: 1;
    transform: translate(0%, 0%);
    transition: all .4s .2s;

    position: absolute;
    top: 2%;
    left: 2%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.export h3 {
    margin-bottom: 0;
}

.export h4 {
    margin-bottom: 1rem;
}

.export_main {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

 /* MAP SELECTION */
.export_map-selection {
    flex: 3;
    padding: 1rem;
}

.export_map-box {
    outline: auto;
    height: 93%;
    display: flex;
    position: relative;
}

.export_rightsidebar {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.export_rightsidebar h3 {
    border-bottom: 1px solid grey;
}

.export_raster {
    margin-bottom: 1rem;
}

.export_raster-info div {
    margin-bottom: 1rem;
}

.export_raster-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.export_raster-description {
    max-height: 5rem;
    overflow: auto;
    overflow-wrap: break-word;
}

.export_settings {
    flex: 5;
    margin-bottom: 1rem;
}

.export_text {
    flex: 1;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.25;
    color: #3B3B3B;
    text-align: center;
    align-self: center;
    width: 80%;
}

.export_buttons {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.export_buttons button {
    height: 3rem;
}
.details__button {
    margin-top: 1rem;
}

.details__button:disabled {
    background-color: #BFBFBF;
    cursor: not-allowed;
}

 /* MODAL CLOSE */
.export_close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    color: #3B3B3B;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    transition: all .2s;
}

 .export_close:hover {
    color: #41a086;
}

.export_grid_cell:hover {
    fill-opacity: 0.5;
}

 /* normal input fields  */
.export_input,
/* input fields as part of datetimepicker */
.export_settings .rdt input {
    min-width: 245px;
    width: 100%;
}
.export-input-error-msg {
    color:#A10000;
}
.export-input-error-msg-large {
    font-size: 2rem;
    color:#A10000;
}
.loading-screen-export {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    font-size: 3rem;
    color: white;
}
.loading-screen-export-text {
    margin-top: 3rem;
}
