.filter-option {
    max-height: 24rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color-soft);
}

.filter-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.filter-title h4 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
}

.filter-title > button {
    color: #707070;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.filter-title button:focus {
    outline: none;
}

.filter-content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.filter-list {
    max-height: 13rem;
    padding-left: 0;
    overflow-y: scroll;
    height: 100%;
    margin: 1rem 0 0 0;
}

.filter-list-button {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5rem;
    bottom: 1rem;
    border: none;
    background-color: inherit;
    color: #406CFB;
    cursor: pointer;
}

.filter-list-button:focus {
    outline: none;
}

.filter-item {
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: .8rem;

    white-space: nowrap;
    overflow: hidden;
}

.filter-radiobutton {
    vertical-align: middle;
    margin: auto;
    margin-right: 5px;
}

.filter-item-name {
    vertical-align: middle;
}

.filter-checked-item {
    font-size: .9rem;
    color: rgb(44, 44, 44);
    font-style: italic;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 1.5rem;
    overflow: hidden;
    margin-top: .5rem;
}

.filter-checked-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: rgb(44, 44, 44);
    font-style: italic;
    font-size: 1.2rem;
}

.filter-checked-item button:hover {
    color: red;
}

.filter-checked-item button:focus {
    outline: none;
}