.filter-box {
    width: 18%;
    min-width: 0;
    padding: 0 1.5rem;
    margin: 1rem 0;
    border-right: 1px solid var(--border-color-soft);
    overflow: hidden;
    height: 100%;
}

.switcher {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    height: 3.5rem;
    width: 100%;
    margin-bottom: 2.5rem;
    padding: 0 .5rem;
    color: var(--font-color);
    border: none;
    border-radius: 1px;
    box-shadow: 4px 4px 4px #00000029;
}
.switcher:focus {
    outline: none;
}