.modal-background {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-main {
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 2rem 2rem rgba(12, 12, 12, 0.4);
    opacity: 1;
    transform: translate(0%, 0%);
    transition: all .4s .2s;
    display: flex;
    flex-direction: column;
}

.modal-header {
    font-size: 2.4rem;
    font-weight: 500;
    color: #FFFFFF;
    height: 5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color-scheme);
    border-radius: 1rem 1rem 0 0;
}

.modal-header button {
    cursor: pointer;
    font-size: 5rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}
.modal-header button:focus {
    outline: none;
}
.modal-header button:hover {
    color: var(--button-color-scheme);
}

/* Time Series modal */
.modal-timeseries {
    width: 80%;
    height: 80%;
    justify-content: flex-start;
}
.modal-timeseries-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Time Series export modal */
.modal-timeseries-export {
    width: 60%;
    height: 60%;
}

/* Raster export modal */
.modal-raster-export {
    width: 96%;
    min-height: 96%;
}

/* Modal close button */
.modal-close {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--font-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    transition: all .2s;
}

.modal-close:hover {
   color: var(--main-color-scheme);
}