.pagination {
    height: 100%;
    display: flex;
    justify-content: center;
}

.pagination button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

.pagination button:disabled {
    cursor: not-allowed;
}

.pagination button:focus {
    outline: none;
}

.pagination button:active {
    transform: translateY(2px);
}

.pagination-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.pagination-page {
    margin: 0 .3rem;
    padding: .2rem;
    text-align: center;
    cursor: pointer;
}

.pagination-current-page {
    padding: .2rem .6rem;
    background: #008080;
    color: #fff;
    border-radius: .3rem;
    cursor: unset;
}