.timeseries {
    height: calc(100% - 5rem); /* modal header height = 5rem */
    padding: 2rem;
    display: flex;
    flex-direction: row;
}
.timeseries-top {
    height: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.timeseries h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}
.timeseries-helper-text {
    font-style: italic;
    font-weight: 300;
}

.timeseries-filter {
    width: 60%;
    padding-right: 1rem;
}

.timeseries-selection {
    width: 40%;
}

.timeseries-map {
    flex: 1;
    margin: 1rem 0;
    position: relative;
}
.leaflet-container {
    height: 100%;
}
.location-icon {
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 3px solid #707070;
}
.location-icon-small {
    border: 2px solid #707070;
}
.location-icon-selected {
    background-color: var(--button-color-scheme);
    border: 3px solid var(--main-color-scheme);
}

.timeseries-search-locations {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    width: 97%;
    z-index: 1000;
}

.timeseries-observation-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.timeseries-observation-list li {
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.timeseries-observation-list li input {
    cursor: pointer;
}

.timeseries-selected-locations {
    height: 70%;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color-soft);
    display: flex;
    flex-direction: column;
}
.timeseries-selected-locations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}
.timeseries-selected-locations-header > div {
    margin-right: 1rem;
}

.timeseries-location-list {
    height: 100%;
    padding: 2rem 0;
    margin: 0;
    overflow-y: auto;
}
.timeseries-location-list li {
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timeseries-location-name {
    cursor: pointer;
    margin-right: 1rem;
}

.timeseries-filter-observation-type {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timeseries-filter-observation-type > h3 {
    margin-bottom: 0;
    flex: 1;
}
.timeseries-filter-observation-type > form {
    flex: 1;
}

.timeseries-period {
    flex: 1;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--border-color-soft);
}
.timeseries-period-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.timeseries-period-arrow {
    font-size: 4rem;
    color: #707070;
}
.timeseries-time-selection {
    display: flex;
    flex-direction: column;
}
.timeseries-time-selection span {
    margin-bottom: 0.5rem;
}

/* Datetime picker */
.timeseries-datetime {
    color: var(--font-color);
}
.timeseries-datetime-error {
    border: 1px solid red;
}

/* Buttons */
.timeseries-button-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timeseries-buttons {
    flex: 1;
}
.timeseries-button-container button {
    width: 90%;
    margin-bottom: 1rem;
}

.timeseries-button-clear-selection {
    font-size: 1.6rem;
    width: auto;
}

/* Polygon button container */
.polygon-button-container {
    display: flex;
    position: absolute;
    bottom: 8px;
    right: 8px;
    z-index: 1000;
}