.export {
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.export h3 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.5rem;
    margin: 0 0 2rem 0;
    color: #535353;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.export h4 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #535353;
}

 /* MAP SELECTION */
.export_map-selection {
    flex: 3;
    padding: 1rem;
}

.export_map-box {
    outline: auto;
    height: 93%;
    display: flex;
    position: relative;
}

.export_rightsidebar {
    flex: 1;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.export_rightsidebar h3 {
    border-bottom: 1px solid grey;
}

.export_raster {
    margin-bottom: 1rem;
}

.export_raster-info div {
    margin-bottom: 1rem;
}

.export_raster-name {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.export_raster-description {
    max-height: 5rem;
    overflow: auto;
    overflow-wrap: break-word;
}

.export_settings {
    flex: 5;
    margin-bottom: 1rem;
}

.export_text {
    flex: 1;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.25;
    color: #3B3B3B;
    text-align: center;
    align-self: center;
    width: 80%;
}

.export_buttons {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.export_buttons button {
    height: 3rem;
}

.export_grid_cell:hover {
    fill-opacity: 0.5;
}

 /* normal input fields  */
.export_input,
/* input fields as part of datetimepicker */
.export_settings .rdt input {
    min-width: 245px;
    width: 100%;
}
.export-input-error-msg {
    color:#A10000;
}
.export-input-error-msg-large {
    font-size: 2rem;
    color:#A10000;
}
.loading-screen-export {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999999999;
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    font-size: 3rem;
    color: white;
}
.loading-screen-export-text {
    margin-top: 3rem;
}
