.header {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: 0 4rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    height: 3rem;
    width: 18.6rem;
    margin-right: 1rem;
    cursor: pointer;
}

.header-logo__text {
    font-size: 1.8rem;
}

.header-nav {
    align-self: stretch;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav * {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav *:hover {
    background-color: #006d6d;
}

.header-nav__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
}

.user-profile {
    width: 16rem;
    justify-content: flex-start;
    position: relative;
}

.user-profile .header-nav__text {
    width: 70%;
    overflow: hidden;
}

.inbox-dropdown {
    position: relative;
}

.header-nav__inbox-text {
    margin-left: 1.5rem;
}

.header-nav__icon {
    height: 2.5rem;
    width: 3rem;
    fill: #fff;
}

.header-nav__notification {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    margin: -2rem 0 0 -3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__notification:hover {
    background-color: orangered;
}

.header-nav__text {
    margin-left: 1.2rem;
}

.header-nav a {
    text-decoration: none;
    color: white;
}

/*POPUP WINDOW FOR THE BASKET AND INFORMATION*/
.modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.modal:target {
    opacity: 1;
    visibility: visible;
}

.modal:target #basket {
    opacity: 1;
    transform: scale(1);
}

.modal:target #information {
    opacity: 1;
    transform: scale(1);
}