.FilterBox {
  width: 18%;
  min-width: 0;
  padding: 0 1.5rem;
  margin: 1rem 0;
  border-right: 1px solid var(--border-color-soft);
  overflow: hidden;
  height: 100%;
}

.DataSwitcher {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  height: 6rem;
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 0 .5rem;
  color: var(--font-color);
  border: none;
  border-radius: 1px;
  box-shadow: 2px 2px 4px #00000029;
  background-color: var(--second-color-scheme);
  cursor: pointer;
}
.DataSwitcher:focus {
  outline: none;
}