.details {
    font-size: 1.3rem;
    line-height: 1.5rem;
    width: 30%;
    border-radius: .4rem;
    padding: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
    box-shadow: .1rem .3rem .4rem rgba(12, 12, 12, 0.4);

    height: 90vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wms-details {
    display: block;
}

.details__loading {
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: #A9A9A9;
}

.details h3 {
    font-size: 1.3rem;
    font-weight: 550;
    text-decoration: underline;
    margin: 0 0 1rem 0;
}

.details__uuid {
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 1rem;
    color: grey;
}

.details__main-box {
    display: flex;
    justify-content: space-between;

    height: 45%;
}

.details__description-box {
    min-width: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.details__description-box h4 {
    margin: .8rem 0 .5rem 0;
}

.description {
    overflow-y: scroll;
    overflow-x: hidden; 
}

.details__map-box {
    flex: 1.2;
    display: flex;
    justify-content: flex-end;

    height: 100%;
    width: 100%;
}

.leaflet-container {
    height: 90%;
    width: 95%;
}

.details__metadata {
    height: 40%;
    margin-top: 2rem;
}

.row {
    display: flex;
    
    min-height: 3rem;
    background-color: #fff;
}

.column {
    border: thin solid #ECECEC;

    flex: 1;
    text-align: left;
    padding: .6rem;
    margin: 0;
    overflow: hidden;

    width: 50%;
}

.column-2 {
    font-weight: bold;
}

.details__button-container {
    height: 15%;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.details__button {
    font-size: 1.4rem;
    line-height: 1.6rem;
    background-color: #2FCBAB;
    color: #fff;
    width: 7rem;
    border: none;
    border-radius: .2rem;
    border-bottom: 1px solid grey;
    padding: .4rem;
    cursor: pointer;
    box-shadow: .1rem .2rem .4rem rgba(12, 12, 12, 0.5);
}

.details__button:focus {
    outline: none;
}

.button-api {
    margin-right: 2rem;
}