.header {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: 0 4rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    height: 7.4rem;
    cursor: pointer;
}

.header-logo__text {
    font-size: 1.8rem;
}

.header-nav {
    align-self: stretch;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav * {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav *:hover {
    background-color: #0b8b69;
}

.header-nav__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.2rem;
}

.user-profile {
    width: 16rem;
    justify-content: flex-start;
    position: relative;
}

.user-profile .header-nav__text {
    width: 70%;
    overflow: hidden;
}

.header-nav__icon {
    height: 2.5rem;
    width: 3rem;
    fill: #fff;
}

.header-nav__notification {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    margin: -1rem 0 0 -1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__notification:hover {
    background-color: orangered;
}

.header-nav__text {
    margin-left: 1.2rem;
}

.header-nav a {
    text-decoration: none;
    color: white;
}

/*POPUP WINDOW FOR THE BASKET*/
.header-basket {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.header-basket:target {
    opacity: 1;
    visibility: visible;
}

.header-basket:target .basket {
    opacity: 1;
    transform: scale(1);
}

/*POPUP WINDOW FOR THE INFORMATION BOX*/
.header-information-box {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.header-information-box:target {
    opacity: 1;
    visibility: visible;
}

.header-information-box:target .information {
    opacity: 1;
    transform: scale(1);
}

/*DROPDOWN USER-PROFILE*/
.user-profile_dropdown {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
  
.user-profile_dropdown a {
    font-size: 1.4rem;
    color: #333;
    background-color: #fafafa;
    width: 100%;
    padding: 0 2rem;
}
  
.user-profile_dropdown a:hover {
    background-color: #e5e5e5;
}

.user-profile_dropdown i:hover {
    background-color: #e5e5e5;
}

/*POPUP WINDOW FOR THE EXPORT SCREEN*/
.header-export {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.header-export:target {
    opacity: 1;
    visibility: visible;
}

.header-export:target .export {
    opacity: 1;
    transform: scale(1);
}