li {
    list-style: none;
}

.list {
    width: 52%;
    border-radius: .4rem;
    padding: 1rem;
    background-color: #f2f2f2;
    box-shadow: .1rem .3rem .4rem rgba(12, 12, 12, 0.4);
    margin: 0 1rem 1rem 1rem;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.loading-screen {
    justify-content: center;
    align-items: center;
}

.list__top {
    height: 8%;
}

.list__length {
    color: #686868;
    margin: 1rem 0 0 1rem;
}

.list__content {
    height: 80%;

    font-size: 1.3rem;
    line-height: 1.5rem;
}

.list__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    overflow-y: scroll;

    margin: 0;
    padding: 0;
}

.list__row-title {
    font-weight: bold;
    width: 100%;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
    height: 5%;
}

.list__row-li {
    border-radius: .8rem;
    margin: 0.5rem auto;
    background-color: #fff;
    height: 3rem;
    cursor: pointer;
    width: 100%;
    height: 10%;

    border: 1px solid transparent;

    display: flex;
    justify-content: space-between;
}

.list__row-li:hover {
    border: 1px solid #2FCBAB;
}

.list__row-li img {
    width: 3rem;
    height: 3rem;
}

.list__row {
    flex: 1;
    text-align: center;
    margin: auto 2px;
    overflow: hidden;
    max-height: 80%;
}

.list__row i {
    cursor: pointer;
    margin-left: .5rem;
}

.list__row-box {
    flex: .5;
}

.list__row-name {
    flex: 2;
    text-align: left;
    margin-right: 2rem;
}

.list__row-org {
    flex: 3;
    text-align: left;
}

.list__row-obs {
    flex: 2;
    text-align: left;
}

.list__row-time {
    flex: 2;
}

.list__row-access {
    flex: .8;
}

.list__row-wms-description {
    flex: 4;
    text-align: left;
    margin-right: 2rem;
    max-height: 70%;
}

.list__row-raster-description {
    flex: 2;
    text-align: left;
    margin-right: 2rem;
    max-height: 60%;
}

.access-modifier {
    font-size: 1rem;
    color: #fff;
    border-radius: .2rem;
    margin-right: .4rem;
    padding: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.public {
    background-color: #1ABC9C;
}

.private {
    background-color: #FF4500;
}

.common {
    background-color: #FFA500;
}

.list__footer {
    position: relative;
    height: 5%;
    width: 100%;
}

.list__button-basket {
    font-size: 1.4rem;
    text-transform: uppercase;
    
    position: absolute;
    top: 0;
    right: 0;

    padding: .8rem;
    border-radius: .2rem;
    border: none;
    background-color: #55cbac;
    color: #fff;
    box-shadow: .2rem .4rem .4rem rgba(12, 12, 12, 0.4);
    cursor: pointer;
}

.list__button-basket:focus {
    outline: none;
}

.list__button-basket:active {
    transform: translateY(2px);
}

.list__button-basket:disabled {    
    background-color: #BFBFBF;
    cursor: not-allowed;
}

/*POPUP WINDOW WHEN CLICK ON THE ADD TO BASKET BUTTON*/
.list__popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.list__popup:target {
    opacity: 1;
    visibility: visible;
}

.list__popup-content {
    width: 24%;
    min-height: 12rem;
    border: 1px solid #BEBEBE;
    background-color: #F1F1F1;
    box-shadow: 0 2rem 2rem rgba(12, 12, 12, 0.4);
    transform: translate(-50%, -50%);
    /* transition: all .4s .2s; */

    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.list__popup-close {
    background-color: #2FCBAB;
    text-decoration: none;
    color: #fff;
    height: 2rem;
    width: 5rem;
    border-radius: .2rem;
    box-shadow: .1rem .2rem .4rem rgba(12, 12, 12, 0.5);
}