.main-container {
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #009F86;
    color: #fff;
    margin-bottom: 1rem;
}

.main-body {
    display: flex;

    justify-content: space-between;
}