.main-container {
    display: flex;
    flex-direction: column;
    min-width: 100rem;
}

.main-header {
    background-color: #009F86;
    color: #fff;
    margin-bottom: 1rem;
}

.main-body {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    min-height: 80rem;
}