.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: 0 4rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    height: 7.4rem;
}

.header-nav {
    align-self: stretch;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav * {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav *:hover {
    background-color: #0b8b69;
}

.header-nav__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;
}

.header-nav__icon {
    height: 2.5rem;
    width: 3rem;
    fill: #fff;
}

.header-nav__notification {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    margin: -1rem 0 0 -1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__notification:hover {
    background-color: orangered;
}

.header-nav__text {
    margin-left: 1rem;
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(105, 99, 99, 0.8);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup-content {
    width: 60%;
    height: 60%;
    color: black;
    background-color: rgb(241,241,241);
    box-shadow: 0 2rem 4rem rgba(105, 99, 99, 0.2);
    opacity: 0;
    transform: translate(50%, -50%) scale(.5);
    transition: all .4s .2s;

    position: absolute;
    top: 20%;
    left: 20%;
}

.popup-close {
    color: #777;
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    transition: all .2s;
}

.popup-close:hover {
    color: #41a086;
}

.popup:target .popup-content {
    opacity: 1;
    transform: scale(1);
}