.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin: 0 4rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    height: 7.4rem;
}

.header-nav {
    align-self: stretch;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav * {
    cursor: pointer;
    height: 100%;
    width: 12rem;
    display: flex;
    align-items: center;
}

.header-nav *:hover {
    background-color: #0b8b69;
}

.header-nav__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav__icon {
    height: 2.25rem;
    fill: #fff;
}

.header-nav__notification {
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    margin: -1rem 0 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}